.imgMainMenu {
  height: 600px;
  width: 600px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .imgMainMenu {
    animation: imgMainMenu-spin infinite 20s linear;
  }
}

@keyframes imgMainMenu-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
