.imgBtn {
  margin: 10px;
}
.images {
  width: 120px;
  height: 120px;
}
.imgBtn.green {
  background-color: #61ff00 !important;
}
.imgBtn.red {
  background-color: red !important;
}
.imgBtn.gray {
  background-color: #969994 !important;
}
#cont.wait {
  pointer-events: none;
}

#playCont {
  transition: all 0.5s ease;
  width: 1800px;
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}

#playCont.close {
  opacity: 0;
  pointer-events: none;
}

#playCont.open {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.5s ease;
}

#chooseCont {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

#chooseCont.open {
  opacity: 1;
  pointer-events: auto;
}

#chooseCont.closing {
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.5s ease;
}

#chooseCont.close {
  opacity: 0;
  pointer-events: none;
}

#resultCont {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}

#resultCont.open {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.5s ease;
}

#resultCont.closing {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.5s ease;
}

#resultCont.close {
  opacity: 0;
  pointer-events: none;
}
